<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_header :: head(pageTitle='Step One')">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<h2>
    Step One: Setting up Pathways
</h2>
<p>
    Setup pathways between pages by using th:href="@{/lorem-ipsum}" or whatever you want to call your pathway. The homepage/index is always just a / with nothing after it.
</p>
<br/>
<br/>
<a th:href="@{/step-two}" class="ui-button">Next</a>
</body>
</html>